@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    --color-bg: #F2F2F2;
    background-color: var(--color-bg);
}

* {
    font-family: 'Inter', sans-serif;
}

@keyframes logo-glitch {
    98% {
        transform: none;
        filter: none;
    }
    98.5% {
        transform: translate(12px, 6px) scale(1.0075);
    }
    99% {
        transform: translate(-6px, -12px) scale(0.995);
    }
    99.5% {
        transform: translate(6px, 0) scale(1.05);
        filter: blur(6px);
    }
    100% {
        transform: translate(-12px, 0);
    }
}

.dg-p {
    font-weight: 400;
    font-size: 16px;
}

/* Structure */

.dg-section {
    padding: 48px;
    box-sizing: border-box;
}


/* Top section */

.dg-section--top {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dg-logo {
    max-width: 480px;
    height: auto;
    animation: logo-glitch 10s ease-out infinite;
    margin-bottom: 48px;
}

.dg-top-text {
    text-align: center;
    max-width: 60%;
}