@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    --color-bg: #F2F2F2;
    --color-dark: #1A1B1F;
    --color-accent: #EB4736;
    --color-secondary: #F1A53F;
    background-color: var(--color-bg);
}

* {
    font-family: 'Inter', sans-serif;
}

@keyframes logo-glitch {
    98% {
        transform: none;
        filter: none;
    }
    98.5% {
        transform: translate(12px, 6px) scale(1.0075);
    }
    99% {
        transform: translate(-6px, -12px) scale(0.995);
    }
    99.5% {
        transform: translate(6px, 0) scale(1.05);
        filter: blur(6px);
    }
    100% {
        transform: translate(-12px, 0);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
}

.dg-h2 {
    font-size: 32px;
    padding-bottom: 8px;
    margin-bottom: 32px;
    margin-top: 0;
    font-weight: 400;
    border-bottom: 1px solid;
    color: var(--color-dark);
}

.dg-p {
    font-weight: 400;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 24px;
    line-height: 22px;
    color: var(--color-dark);
}

.dg-button {
    cursor: pointer;
    padding: 12px 16px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    background-color: var(--color-accent);
    color: var(--color-bg);
    border-right: 4px solid var(--color-bg);
    /* border-bottom: 1px solid var(--color-bg); */
    box-shadow: 1.5px 1.5px 0 var(--color-dark);
}

.dg-link {
    color: var(--color-accent);
}

.dg-button:hover {
    background-color: var(--color-dark);
}

/* Structure */

.dg-content {
    max-width: 920px;
    width: 100%;
    margin: auto;
}

.dg-section {
    padding: 48px;
    box-sizing: border-box;
}

/* Steps */

.dg-step {
    display: flex;
    margin-bottom: 24px;
}

.dg-step__index {
    width: 64px;
    flex-shrink: 0;
    font-size: 48px;
    font-weight: 600;
    line-height: 1;
    text-shadow: 2px 0px 0 var(--color-bg), 4px 1px 0 var(--color-accent);
}

/* Scroll Indicator */

.dg-scroll-indicator {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.dg-scroll-indicator__chevron {
    margin-bottom: -8px;
    animation: fade 4s infinite;
    opacity: 0;
}

.dg-scroll-indicator__chevron--second {
    animation-delay: .05s;
}

.dg-scroll-indicator__chevron--third {
    animation-delay: .1s;
}

/* Top section */

.dg-section--top {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dg-logo {
    width: 512px;
    height: auto;
    max-width: 100%;
    animation: logo-glitch 5s ease-out infinite;
    margin-bottom: 64px;
    margin-top: auto;
}

.dg-top-text {
    text-align: center;
    /* max-width: 60%; */
}

/* Adaptivity */

@media (max-width: 430px) {
    .dg-section {
        padding: 32px;
    }

    .dg-step {
        flex-direction: column;
    }

    .dg-step__index {
        margin-bottom: 12px;
    }
}